In [ ]:
#Q1. What is a database? Differentiate between SQL and NoSQL databases.
'''
A database is an organized collection of data stored electronically in a computer system.

SQL databases are reational databases that are in the form of tables. They are vertically scalable and have
predefined schema. These databases are not suited for hierarchical data storage but are suited for 
complex queries. It follows ACID property.

NoSQL databases are non relational databases that can be in the form of document-based, key-value pairs, and
graph databases. They are horizontally scalable and have dynamic schema. These databases are best suited for
hierarchical data storage but not for complex queries. It follows CAP.
'''

In [ ]:
#Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
'''
DDL means Data Definition Language which is a subset of SQL commands. It is used to create
and modify the structure of database objects in the database.

CREATE is used to create a database and its objects.
Example: CREATE DATABASE workers;

DROP is used to delete objects from the database.
Example: DROP TABLE salary;

ALTER is used to alter the structure of the database.
Example: ALTER TABLE workers ADD age INT;

TRUNCATE is used to remove all records from a table.
Example: TRUNCATE TABLE workers;
'''

In [ ]:
#Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
'''
DML means Data Manipulation Language which is a subset of SQL commands used for manipulation of data.

INSERT is used to insert data into a table.
Example: INSERT INTO workers (id, name, age) VALUES (101, 'John', 36);

UPDATE is used to update existing data in a table.
Example: UPDATE workers SET age = 38 WHERE id = 105 ;  

DELETE is used to delete records from a database table.
Example: DELETE FROM workers;
'''

In [ ]:
#Q4. What is DQL? Explain SELECT with an example.
'''
DQL means Data Query Language which is a subset of SQL commands.

SELECT is used to retrieve data from the database.
Example: SELECT * FROM workers;
'''

In [ ]:
#Q5. Explain Primary Key and Foreign Key.
'''
A primary key is used to ensure that data of a specified column is unique. Only one primary key is 
allowed in a table and it does not alllow NULL values. Its value cannot be deleted from the parent table.

A foreign key is a column or a group of columns that links data between two tables. More than one foreign key
is allowed in a table and it allows duplicate and NULL values. Its value can be deleted from the child table..
'''

In [ ]:
#Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
'''
cursor() is used to execute SQL queries through python and execute() is used to pass the SQL queries
which is then implemented.
'''

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABSAE workers")
mydb.close

In [ ]:
#Q7. Give the order of execution of SQL clauses in an SQL query.
'''
The order of execution of SQL clauses in an SQL query:
FROM
WHERE
GROUP BY
HAVING
SELECT
ORDER BY
LIMIT
'''