In [2]:
import pandas as pd

In [22]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.


d = pd.Series([4,8,15,16,23,42])
print(d)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [5]:
#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.


l = [23,65,89,6,78,6,23,49,3,578]
d = pd.Series(l)
print(d)

0     23
1     65
2     89
3      6
4     78
5      6
6     23
7     49
8      3
9    578
dtype: int64

In [13]:
#Q3. Create a Pandas DataFrame that contains the following data: Then, print the DataFrame.

d = {"Name": ["Alice", "Bob", "Claire"],
     "Age": [25, 30, 27],
     "Gender": ["Female", "Male", "Female"]}

data = pd.DataFrame(d)
print(data)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [11]:
#Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.


'''A DataFrame represents a rectangular table of data and contains an ordered, named collection of columns. The DataFrame has 
both a row and column index;
'''

#Dataframe example:
d = {"Name": ["Peter", "Oliver", "Patrick"],
     "Job": ["Clerk", "Janitor", "Associate"]}
print(pd.DataFrame(d))
print("\n")
'''Series can only contain a single list with an index. It is a one-dimensional array-like object containing a sequence of values '''

#Series example:
l = ["New York", "Chicago", "LA"]
print(pd.Series(l))

      Name        Job
0    Peter      Clerk
1   Oliver    Janitor
2  Patrick  Associate


0    New York
1     Chicago
2          LA
dtype: object

In [15]:
#Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

'''Some common dataframe functions are head(), tail(), columns, read_csv(), to_csv().'''

 #head() example:
'''head() function gives the first 5 or the mentioned number of rows from the DataFrame'''

d = {"Name": ["Alice", "Bob", "Claire"],
     "Age": [25, 30, 27],
     "Gender": ["Female", "Male", "Female"]}
data = pd.DataFrame(d)

print(data.head(2))

    Name  Age  Gender
0  Alice   25  Female
1    Bob   30    Male

In [ ]:
#Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
'''All Pandas data structures are value mutable and except Series all are size mutable. Series is size immutable.'''

In [28]:
#Q7. Create a DataFrame using multiple Series. Explain with an example.

'''DataFrame can be created using concat() from multiple Series.'''

#Example:
s1 = pd.Series(["apple", "mango", "kiwi"], name="Fruits")
s2 = pd.Series([45, 98, 77], name="Quantity")

d = pd.concat([s1,s2], axis=1)
print(d)

  Fruits  Quantity
0  apple        45
1  mango        98
2   kiwi        77