In [3]:
import pandas as pd

In [4]:
#Q1. List any five functions of the pandas library with execution.
df = pd.DataFrame({'Name': ['Peter', 'Oliver', 'Patrick'],
     'Age': [22, 25, 27],
     'Place': ['New York', 'Chicago', 'LA']})

#head():
print(df.head(2))
print('\n')

#tail():
print(df.tail(2))
print('\n')

#describe():
print(df.describe())
print('\n')

#unique():
print(df['Name'].unique())
print('\n')

#iloc:
print(df.iloc[0:1, [0,2]])

     Name  Age     Place
0   Peter   22  New York
1  Oliver   25   Chicago


      Name  Age    Place
1   Oliver   25  Chicago
2  Patrick   27       LA


             Age
count   3.000000
mean   24.666667
std     2.516611
min    22.000000
25%    23.500000
50%    25.000000
75%    26.000000
max    27.000000


['Peter' 'Oliver' 'Patrick']


    Name     Place
0  Peter  New York

In [10]:
'''Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that
 starts from 1 and increments by 2 for each row.'''

df = pd.DataFrame({"A":[1, 5, 3, 4, 2, 7],
                   "B":[3, 2, 4, 3, 4, 9],
                   "C":[2, 2, 7, 3, 4, 5]})

def reind(d):
    return d.reindex(list(range(1,len(d),2)))

print(reind(df))

   A  B  C
1  5  2  2
3  4  3  3
5  7  9  5

In [5]:
'''Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and
 calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console'''


df = pd.DataFrame({"ID":['A', 'B', 'C', 'D', 'E', 'F'],
                   "Values":[3, 1, 4, 3, 4, 9]})

def sum_three(dframe, col):
    sum = 0
    for i in list(dframe[col][0:3]):
        sum = sum + i
    return sum

print(sum_three(df, 'Values'))

8

In [14]:
'''Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number
 of words in each row of the 'Text' column.'''


df = pd.DataFrame({'Text': ['catch the ball', 'drink water', 'apple', 'it is raining']})

def wordc(d, col):
    d['Word_count'] = d[col].map(lambda x: len(x.split()))
    return d

print(wordc(df, 'Text'))

             Text  Word_count
0  catch the ball           3
1     drink water           2
2           apple           1
3   it is raining           3

In [57]:
#Q5. How are DataFrame.size() and DataFrame.shape() different?

df = pd.DataFrame({"ID":['A', 'B', 'C', 'D', 'E', 'F'],
                   "Values":[3, 1, 4, 3, 4, 9]})


'''DataFrame.size returns the number of rows times the number of columns of the DataFrame.'''
print(f'Size = {df.size}')

'''Dataframe.shsape returnsa a tuple representing the dimensionality of the DataFrame.'''
print(f'Shape = {df.shape}')

Size = 12
Shape = (6, 2)

In [ ]:
#Q6. Which function of pandas do we use to read an excel file?

'''pd.read_excel() is used to  read an excel file in pandas'''

In [26]:
'''Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. 
Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.'''


df = pd.DataFrame({'Email': ['john.grey@gmail.com', 'wayne87@yahoo.com', 'patrick@hotmail.com', 'iamjack@gmail.com']})


def usrn(d, col):
    d['Username'] = d[col].map(lambda x: x.split('@')[0])
    return d

print(usrn(df, 'Email'))

                 Email   Username
0  john.grey@gmail.com  john.grey
1    wayne87@yahoo.com    wayne87
2  patrick@hotmail.com    patrick
3    iamjack@gmail.com    iamjack

In [33]:
'''Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' 
is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.'''

df = pd.DataFrame({"A":[6, 5, 3, 4, 2, 7],
                   "B":[3, 2, 5, 7, 4, 9],
                   "C":[2, 1, 7, 3, 4, 5]})

def filt(d):
    return d[(d['A']>5) & (d['B']<10)]

print(filt(df))

   A  B  C
0  6  3  2
5  7  9  5

In [42]:
'''Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the
 values in the 'Values' column.'''


df = pd.DataFrame({"ID":['A', 'B', 'C', 'D', 'E', 'F'],
                   "Values":[33, 12, 74, 83, 24, 58]})

def stat(d):
    mn = d['Values'].mean()
    mdn = d['Values'].median()
    stdn = d['Values'].std()
    return f'Mean = {round(mn,3)}, Median = {round(mdn,3)}, Standard deviation = {round(stdn,3)}'

print(stat(df))

Mean = 47.333, Median = 45.5, Standard deviation = 28.619

In [11]:
'''Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage'
that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using
a window of size 7 and should include the current day.'''

df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05', '2023-01-06', '2023-01-07',
                             '2023-01-08', '2023-01-09', '2023-01-10'],
                   'Sales': [25, 36, 31, 55, 72, 66, 41, 38, 49, 52]})

def movavg(d):
    d['MovingAverage'] = d['Sales'].rolling(7).mean()
    return d

movavg(df)

         Date  Sales  MovingAverage
0  2023-01-01     25            NaN
1  2023-01-02     36            NaN
2  2023-01-03     31            NaN
3  2023-01-04     55            NaN
4  2023-01-05     72            NaN
5  2023-01-06     66            NaN
6  2023-01-07     41      46.571429
7  2023-01-08     38      48.428571
8  2023-01-09     49      50.285714
9  2023-01-10     52      53.285714

In [88]:
'''Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame.
The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.'''


df = pd.DataFrame({'Date': pd.date_range('2023-1-1', periods = 10)})

def dayname(d):
    d['Weekday'] = d['Date'].dt.day_name()
    return d

print(dayname(df))

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday
5 2023-01-06     Friday
6 2023-01-07   Saturday
7 2023-01-08     Sunday
8 2023-01-09     Monday
9 2023-01-10    Tuesday

In [19]:
'''Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is 
between '2023-01-01' and '2023-01-31'.'''


df = pd.DataFrame({'Date': pd.date_range('2023-1-1', periods = 50)})
  
def datef(d):
    return d[(d['Date']>'2022-12-31') & (d['Date']<'2023-2-1')]

datef(df)

         Date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05
5  2023-01-06
6  2023-01-07
7  2023-01-08
8  2023-01-09
9  2023-01-10
10 2023-01-11
11 2023-01-12
12 2023-01-13
13 2023-01-14
14 2023-01-15
15 2023-01-16
16 2023-01-17
17 2023-01-18
18 2023-01-19
19 2023-01-20
20 2023-01-21
21 2023-01-22
22 2023-01-23
23 2023-01-24
24 2023-01-25
25 2023-01-26
26 2023-01-27
27 2023-01-28
28 2023-01-29
29 2023-01-30
30 2023-01-31

In [21]:
'''Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?'''


'''We import pandas library to use the basic functions of pandas. We use the code 'import pandas as pd' to import pandas where pd is 
converntionally used as an alias for pandas.'''

"We import pandas library to use the basic functions of pandas. We use the code 'import pandas as pd' to import pandas where pd is \nconverntionally used as an alias for pandas."